body {
  * {
    outline: none !important;
  }
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  background-image: url(../foms-bg.svg);
  background-repeat: no-repeat;
  border-radius: 20px;
  background-color: #21254a;
  padding: 100px 20px 20px;
}

.forms-sing-up {
  padding: 46px 0 0;
}

.forms-log-in {
  padding: 43px 0 0;
}

.forms-forgot-pass {
  padding: 106px 0 0;
}

.title {
  max-width: 252px;
  color: #ffffff;
  font-size: 36px;
  line-height: 38px;
}

.Forms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.6);
  cursor: default;
  pointer-events: none;
  transition: all 0.2s linear;
}

.inactive {
  position: absolute;
  margin-top: 8px;
}

.active,
.label-red {
  position: absolute;
  font-size: 0.8rem;
  margin-top: -10px;
  color: #3784bb;
}

.label-red {
  color: red;
}

input {
  padding: 0;
  width: 333px;
  height: 37px;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  color: #ffffff;
  transition: all 0.3s ease;
}

.color-red {
  border-color: red;
}

.email,
.name,
.password-two {
  margin-bottom: 36px;
}

.password {
  margin-bottom: 41px;
}

.verification-pass {
  margin-bottom: 46px;
}

.email-two {
  margin-bottom: 27px;
}

.btn-wrap,
.links-wrap,
.links-sign,
.links-log,
.links-forgot-pass {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-wrap {
  margin-bottom: 43px;
}

.links-sign {
  padding-top: 100px;
}

.links-log {
  padding-top: 47px;
}

.links-forgot-pass {
  padding-top: 100px;
}

.links,
.links-text {
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}

.links {
  text-decoration-line: underline;
  background: inherit;
  border: none;
  cursor: pointer;
}

.links-text {
  margin-right: 5px;
}

.btn-sing-up,
.btn-sing-in,
.btn-reset {
  border: none;
  font-size: 20px;
  line-height: 23px;
  background-color: #833ac7;
  box-shadow: 0px 9px 8px rgba(0, 0, 0, 0.36);
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
  &:hover {
    background-color: #6d31a5;
  }
}

.btn-sing-in {
  padding: 12.5px 26.5px;
}

.btn-sing-up {
  padding: 13px 23px 12px;
}

.btn-reset {
  padding: 13px 30px 12px;
}
